{
	"semi": false,
	"singleQuote": true,
	"plugins": [
		"prettier-plugin-astro",
		"prettier-plugin-css-order",
		"prettier-plugin-organize-attributes",
		"prettier-plugin-organize-imports",
		"prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
