@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
	--font-montserrat: 'Montserrat', sans-serif;
	--default-font-family: var(--font-montserrat);

	--color-primary: var(--color-gray-600);
	--color-secondary: var(--color-gray-950);
	--color-background: var(--color-gray-200);
	--color-accent: var(--color-gray-800);
	--color-accent-alt: var(--color-gray-700);
	--color-light: var(--color-gray-50);
	--color-light-2: var(--color-gray-200);
	--color-light-3: var(--color-gray-300);

	--text-h1: clamp(4rem, 7vw + 1rem, 10rem);
	--text-h2: clamp(3rem, 5vw + 1rem, 8rem);
	--text-h3: clamp(1.5rem, 3vw + 1rem, 4rem);
	--text-h4: clamp(1.25rem, 1.75vw + 0.5rem, 3rem);
	--text-h5: clamp(1.12rem, 1.5vw + 0.5rem, 2.5rem);
	--text-h6: clamp(1rem, 1.25vw + 0.5rem, 2rem);
}

@utility container {
	@apply mx-auto flex flex-col gap-8;
}

@layer base {
	[class~='grid'],
	[class~='flex'],
	[class*=':grid'],
	[class*=':flex'] {
		@apply gap-4;
	}

	section {
		@apply flex w-full flex-col gap-8 p-6 md:p-20;
	}

	ol {
		@apply list-inside list-decimal;
	}

	ol,
	ul {
		@apply flex flex-col gap-2;
	}

	a:not(.no-styles) {
		@apply px-2 font-medium underline underline-offset-4;
		@apply hover:text-accent hover:font-semibold;
		@apply focus:text-accent focus:no-underline;
	}

	img {
		@apply rounded-xl;
	}

	button,
	.btn {
		--tw-shadow-alpha: 50%;
		@apply bg-secondary text-light shadow-primary flex cursor-pointer items-center gap-4 rounded-2xl px-6 py-3 font-semibold shadow-lg transition-all;
		@apply hover:bg-accent-alt hover:shadow-none;
		@apply focus:bg-accent-alt;
	}

	form {
		@apply flex w-full flex-col gap-6;

		input,
		textarea {
			@apply border-light-3 w-full rounded-2xl border p-4;
			@apply focus:bg-light;
		}

		textarea {
			@apply field-sizing-content max-h-80 min-h-40 resize-none;
		}

		button {
			@apply px-8 py-4;
		}
	}

	h1 {
		@apply text-h1;
	}

	h2 {
		@apply text-h2;
	}

	h3 {
		@apply text-h3;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply leading-normal font-extrabold md:leading-tight;
	}
}

html,
body {
	@apply text-primary text-lg leading-relaxed font-medium;
}
