@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
	--font-montserrat: 'Montserrat', sans-serif;
	--default-font-family: var(--font-montserrat);

	--text-h1: clamp(4rem, 7vw + 1rem, 10rem);
	--text-h2: clamp(3rem, 5vw + 1rem, 8rem);
	--text-h3: clamp(1.5rem, 3vw + 1rem, 4rem);
	--text-h4: clamp(1.25rem, 1.75vw + 0.5rem, 3rem);
	--text-h5: clamp(1.12rem, 1.5vw + 0.5rem, 2.5rem);
	--text-h6: clamp(1rem, 1.25vw + 0.5rem, 2rem);

	--text-list-item: clamp(1.25rem, 2vw + 0.5rem, 1.5rem);
}

@utility container {
	@apply mx-auto flex flex-col gap-8;
}

@layer base {
	[class~='grid'],
	[class~='flex'],
	[class*=':grid'],
	[class*=':flex'] {
		@apply gap-4;
	}

	section {
		@apply flex w-full flex-col gap-8 p-6 md:p-20;
	}

	ol {
		@apply list-inside list-decimal;
	}

	ol,
	ul {
		@apply flex flex-col gap-2;
	}

	form {
		@apply flex w-full flex-col gap-6;

		input,
		textarea {
			@apply w-full rounded-lg border border-gray-300 p-4;
			@apply focus:bg-gray-50;
		}

		textarea {
			@apply field-sizing-content max-h-80 min-h-40 resize-none;
		}

		button {
			@apply cursor-pointer rounded-lg bg-gray-900 px-8 py-4 font-semibold text-gray-50 transition;
			@apply hover:bg-gray-700 focus:bg-gray-700 active:bg-gray-900;
		}
	}
}

html,
body {
	@apply text-lg font-medium text-gray-600;
}

h1 {
	@apply text-h1;
}

h2 {
	@apply text-h2;
}

h3 {
	@apply text-h3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply leading-normal font-extrabold md:leading-tight;
}
