@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
	--font-montserrat: "Montserrat", sans-serif;
	--default-font-family: var(--font-montserrat);
}

@utility container {
	@apply mx-auto flex flex-col gap-8 p-5 md:p-8;
}
