---
import Header from '@components/Header.astro'
import Features from '@components/Features.astro'
import Services from '@components/Services.astro'
import Contact from '@components/Contact.astro'
import Footer from '@components/Footer.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout>
	<Header />
	<Features />
	<Services />
	<Contact />
	<Footer />

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
</Layout>
