---
import Header from '@components/Header.astro'
import Services from '@components/Services.astro'
import Projects from '@components/Projects.astro'
import Skills from '@components/Skills.astro'
import Contact from '@components/Contact.astro'
import Footer from '@components/Footer.astro'
import AboutMe from '@components/AboutMe.astro'

import Layout from '@layouts/Layout.astro'
---

<Layout>
	<Header />
	<div class="bg-secondary rounded-4xl py-10 text-gray-400 md:pb-30">
		<Projects />
		<Services />
		<Skills />
		<AboutMe />
	</div>
	<Contact />
	<Footer />
</Layout>
