---
import Header from '@components/Header.astro'
import Services from '@components/Services.astro'
import Projects from '@components/Projects.astro'
import Skills from '@components/Skills.astro'
import Contact from '@components/Contact.astro'
import Footer from '@components/Footer.astro'
import AboutMe from '@components/AboutMe.astro'

import Layout from '@layouts/Layout.astro'
---

<Layout>
	<Header />
	<div class="bg-secondary rounded-4xl pt-10 pb-30 text-gray-400">
		<Services />
		<Projects />
		<Skills />
		<AboutMe />
	</div>
	<Contact />
	<Footer />

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at cupiditate dicta enim facilis, laborum
		minus nam nesciunt non odio officia pariatur qui reprehenderit similique sint suscipit veritatis. Explicabo,
		repudiandae?
	</p>
</Layout>
