---
import Header from '@components/Header.astro'
import Services from '@components/Services.astro'
import Heading from '@components/UI/Heading.astro'
import SelectedWork from '@components/SelectedWork.astro'
import Skills from '@components/Skills.astro'
import Contact from '@components/Contact.astro'
import Footer from '@components/Footer.astro'
import AboutMe from '@components/AboutMe.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout>
	<Header />
	<div class="bg-secondary text-light-4 rounded-4xl py-10 md:pb-30">
		<div
			id="projects"
			class="container"
		>
			<Heading
				level={2}
				class="text-light-2"
			>
				SELECTED WORKS /
			</Heading>
			<SelectedWork />
		</div>
	</div>
	<Services />
	<Skills />
	<AboutMe />
	<Contact />
	<Footer />
</Layout>
