---
import Heading from '@components/Heading.astro'
---

<section
	class="md:pt-60"
	id="about-me"
>
	<div class="container">
		<div class="flex flex-col lg:grid lg:grid-cols-12">
			<div class="lg:col-span-5">
				<Heading
					level={2}
					class="text-light-2"
				>
					Work Together /
				</Heading>
			</div>

			<div class="flex flex-col lg:col-span-6 lg:col-start-7">
				<Heading
					level={3}
					class="text-light-3 md:col-span-7 md:col-start-6"
					>About Me</Heading
				>

				<p>
					<strong class="text-light-3">
						Many businesses and entrepreneurs struggle with websites that fail to communicate their message
					</strong>
					, load slowly, or simply don’t deliver results. Behind every underperforming site lies a missed opportunity:
					Poor structure, neglected user experience, or outdated technology that limits growth.
				</p>

				<p>
					Understanding these challenges has helped me craft solutions that truly connect with people and
					strengthen a brand’s digital presence.
				</p>

				<p>
					<strong class="text-light-3">I’m a Full-Stack Web Developer</strong> dedicated to building efficient,
					scalable, and user-focused digital products. Using modern tools like Astro, Next.js, Tailwind CSS, WordPress,
					and Shopify, <strong class="text-light-3"
						>I transform ideas into clean, functional experiences</strong
					>. My passion lies in blending design and technology to create websites that not only look great but
					drive measurable results, empowering brands to grow confidently online.
				</p>
			</div>
		</div>
	</div>
</section>
