<div class="relative max-h-screen overflow-hidden">
	<div class="bg-secondary/50 absolute top-0 z-10 flex h-full w-full items-center justify-center backdrop-blur-md">
		<span class="text-h2 text-light font-bold">Coming Soon...</span>
	</div>
	<slot />
</div>
