<section>
	<div class="container flex max-w-3/4 items-center justify-center gap-14">
		<h2 class="text-center">Let's Make It Happen!</h2>
		<form>
			<label>
				<input
					type="text"
					name="name"
					placeholder="Drop a name"
					class="peer"
					required
				/>
			</label>
			<label>
				<input
					type="email"
					name="email"
					placeholder="Wanna hear back? Add your email"
					required
				/>
			</label>
			<label>
				<textarea
					name="message"
					placeholder="Say hello or drop a note..."
					rows="5"
					required
				></textarea>
			</label>
			<button type="submit">Send Message</button>
		</form>
	</div>
</section>
