---
import Button from '@components/Button.astro'

import ChatsCircle from 'phosphor-astro/ChatsCircleDuotone.astro'
---

<section id="contact">
	<div class="container flex items-center justify-center gap-14 md:max-w-3/4 lg:max-w-1/2">
		<h2 class="text-center">Let's Make It Happen!</h2>
		<form>
			<label>
				<input
					type="text"
					name="name"
					placeholder="Drop a name"
					required
				/>
			</label>
			<label>
				<input
					type="email"
					name="email"
					placeholder="Wanna hear back? Add your email"
					required
				/>
			</label>
			<label>
				<textarea
					name="message"
					placeholder="Say hello or drop a note..."
					rows="5"
					required
				></textarea>
			</label>
			<Button
				type="submit"
				class="justify-center"
			>
				<ChatsCircle class="size-6" />
				Send Message
			</Button>
		</form>
	</div>
</section>
