---
import { StringNoNSchema } from '@schemas/string.ts'
import { cn } from '@utils/css.ts'
import { z } from 'astro:content'
import slugify from 'slugify'
import striptags from 'striptags'
import type { HTMLAttributes } from 'astro/types'

const Schema = z.object({
	level: z.number().min(1).max(6),
	useLink: z.boolean().default(true),
	class: StringNoNSchema.optional()
})

type Props = z.input<typeof Schema> & HTMLAttributes<'h1'>

const props = Schema.parse(Astro.props as Props)
const { level, useLink, id, class: classes, ...rest } = props as Props
const Tag = `h${level}` as const

const hasContent = Astro.slots.has('default')
const html = hasContent ? await Astro.slots.render('default') : ''
const textContent = striptags(html).trim()
const getID = id ? id : slugify(textContent, { lower: true, strict: true })
---

<Tag
	id={getID}
	class={cn('group relative overflow-hidden', classes)}
	{...rest}
>
	{
		useLink && (
			<a
				href={'#' + getID}
				class="no-styles absolute top-0 -left-20 opacity-0 transition-all transition-discrete duration-300 group-hover:relative group-hover:left-0 group-hover:opacity-50 hover:opacity-100"
			>
				#
			</a>
		)
	}
	<slot />
</Tag>
