---
import Heading from '@components/Heading.astro'
import { Picture } from 'astro:assets'

import ShortDate from '@components/ShortDate.astro'
import Navbar from '@components/NavBar.astro'
import Button from '@components/Button.astro'

import headerImg from '@assets/header-img.webp'

import Quotes from 'phosphor-astro/QuotesDuotone.astro'
import PaperPlaneTilt from 'phosphor-astro/PaperPlaneTiltDuotone.astro'
---

<section class="bg-background flex min-h-screen flex-col gap-20 pb-30">
	<div class="container">
		<Navbar />

		<Heading
			level={1}
			useLink={false}
			class="text-secondary mb-6 text-center uppercase lg:mb-10"
		>
			Ronald Torrez
		</Heading>

		<div class="grid w-full items-end gap-10 sm:grid-cols-2 md:gap-20 lg:grid-cols-3">
			<div class="sm:col-span-2 lg:col-span-1">
				<Quotes class="mb-10 hidden size-40 rotate-180 lg:block" />

				<div class="flex flex-col items-center gap-6 lg:items-start">
					<p class="px-8 text-center font-medium md:text-2xl lg:px-0 lg:pr-8 lg:text-left">
						One of my strengths is proactively finding and implementing solutions, even beyond my
						responsibilities.
					</p>

					<Button href="#contact">
						Contact me
						<PaperPlaneTilt class="size-6" />
					</Button>
				</div>
			</div>

			<Picture
				src={headerImg}
				alt="Photo of me"
				class="brightness grayscale"
			/>

			<a
				href="#contact"
				class="no-styles text-right hover:underline hover:underline-offset-4 md:text-2xl"
			>
				Work Together, today
				<br />
				<ShortDate class="text-secondary text-5xl font-extrabold md:text-7xl" />
			</a>
		</div>
	</div>
</section>
