---
import { Picture } from 'astro:assets'

import ShortDate from '@components/ShortDate.astro'
import Navbar from '@components/NavBar.astro'

import headerImg from '@assets/header-img.webp'

import Quotes from 'phosphor-astro/QuotesDuotone.astro'
import ArrowUpRight from 'phosphor-astro/ArrowUpRightDuotone.astro'
---

<section class="flex min-h-screen flex-col items-center justify-center !gap-20 bg-slate-200">
	<div class="container">
		<Navbar />

		<h1 class="mb-6 text-center text-black uppercase lg:mb-10">Ronald Torrez</h1>

		<div class="grid w-full items-end gap-10 sm:grid-cols-2 md:gap-20 lg:grid-cols-3">
			<div class="sm:col-span-2 lg:col-span-1">
				<Quotes class="mb-10 hidden size-40 rotate-180 lg:block" />

				<div class="flex flex-col items-center gap-6 lg:items-start">
					<p class="px-8 text-center font-medium md:text-2xl lg:px-0 lg:pr-8 lg:text-left">
						Open to job opportunities worldwide. Passionate about building polished, intuitive, and
						thoughtful digital experiences that leave a mark.
					</p>

					<!-- TODO: Meke bottom component -->
					<button class="flex w-fit items-center gap-4 rounded-full bg-black px-6 py-3 font-bold text-white">
						Contact me
						<ArrowUpRight class="size-8" />
					</button>
				</div>
			</div>

			<Picture
				src={headerImg}
				alt="Photo of me"
				class="brightness rounded-md grayscale"
			/>

			<p class="text-right md:text-2xl">
				Work Together, today
				<br />
				<ShortDate class="text-5xl font-extrabold text-black md:text-7xl" />
			</p>
		</div>
	</div>
</section>
