---
import Quotes from "phosphor-astro/QuotesDuotone.astro";
---

<section class="min-h-screen items-center justify-center bg-slate-200">
	<h1 class="mx-auto text-center text-7xl font-bold uppercase md:text-[clamp(2rem,10vw,12rem)]">Ronald Torrez</h1>
	<div class="grid w-full gap-10 sm:grid-cols-2 md:grid-cols-3 md:gap-20">
		<div class="flex flex-col gap-10 sm:col-span-2 md:col-span-1">
			<Quotes class="size-40 rotate-180" />
			<div class="flex flex-col gap-10">
				<p class="text-xl font-medium text-gray-600">
					Open to job opportunities worldwide. Passionate about building polished, intuitive, and thoughtful
					digital experiences that leave a mark.
				</p>
				<button class="inline-flex items-center gap-4">
					Download Resume
					<Quotes class="size-10" />
				</button>
			</div>
		</div>
		<div class="outline">Hola</div>
		<div class="outline">Hola</div>
	</div>
</section>
