<header>
	<nav class="flex flex-col items-center justify-around md:flex-row">
		<a
			href="/"
			class="flex-1/2"
		>
			Web Developer
		</a>

		<ul class="flex flex-1/2 flex-row justify-end gap-8">
			<li>
				<a href="/projects">Projects</a>
			</li>
			<li>
				<a href="/about-me">About</a>
			</li>
			<li>
				<a href="/contact">Contact</a>
			</li>
		</ul>
	</nav>
</header>
