<header>
	<nav class="flex items-center justify-around">
		<span class="flex-1/2">Web Developer & Designer</span>

		<ul class="flex flex-1/2 flex-row justify-end gap-8">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
	</nav>
</header>
