---
import WebsiteItem from '@components/WebsiteItem.astro'
import { getCollection } from 'astro:content'
import Heading from '@components/UI/Heading.astro'
import CardViewMore from '@components/CardViewMore.astro'

import ArrowCircleRight from 'phosphor-astro/ArrowCircleRightDuotone.astro'

const websitesEntries = await getCollection('websites')
---

<section class="gap-20 p-0">
	<div class="md:grid md:grid-cols-12">
		<Heading
			level={3}
			class="md:col-span-7 md:col-start-6"
		>
			Website Development
		</Heading>
		<p class="md:col-span-7 md:col-start-6">
			I create digital experiences where design and technology meet, blending utility, emotion, and detail into
			something truly meaningful.
		</p>
	</div>

	<div class="grid grid-cols-1 gap-10 md:grid-cols-2 lg:grid-cols-3 lg:gap-20">
		{
			websitesEntries
				.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
				.slice(0, 6)
				.map(entry => <WebsiteItem entry={entry} />)
		}
		<CardViewMore
			href="/projects/websites"
			text="View More Websites"
			icon={ArrowCircleRight}
		/>
	</div>
</section>
