---
import Project1Bg from '@assets/projects/project-1-bg.webp'

import Wordpress from '@assets/icons/wordpress.svg'
import Woocommerce from '@assets/icons/woocommerce.svg'
import Wpml from '@assets/icons/wpml.svg'
import Elementor from '@assets/icons/elementor.svg'

import ServiceList from './ServiceList.astro'
---

<section class="bg-black">
	<div class="container">
		<h2 class="text-gray-200">SELECTED WORKS /</h2>

		<div class="mb-20 md:grid md:grid-cols-12">
			<h3 class="text-gray-400 md:col-span-7 md:col-start-6">Projects</h3>

			<p class="md:col-span-7 md:col-start-6">
				Thoughtfully crafted digital experiences that blend utility and aesthetics into something functional,
				memorable, and refined.
			</p>
		</div>

		<div class="flex flex-col gap-60">
			<ServiceList
				number="01"
				name="NURA"
				description="Modern Marketing Website"
				year={2025}
				videoId="azQvkfKE59bPfoxN6100Dbm8Hhsl29Pc15xIfFCVrnc8"
				backgroundImage={Project1Bg}
				icons={[Wordpress, Woocommerce, Wpml, Elementor]}
			/>
			<ServiceList
				number="02"
				name="Job Portal"
				description="Full-Stack Recruitment Platform"
				year={2024}
				videoId="ZV01irv5jPmaRLo6XEcm5o4QHrEd9g6Rr5GyqdMd1R6g"
				backgroundImage={Project1Bg}
				icons={[Wordpress, Woocommerce, Wpml, Elementor]}
			/>
		</div>
	</div>
</section>
