---
import SkillList from './SkillList.astro'
---

<section class="bg-black !pt-60">
	<div class="container grid grid-cols-12">
		<div class="col-span-5">
			<h2 class="sticky top-8 text-gray-200">Web Developer /</h2>
		</div>

		<div class="col-span-6 col-start-7 flex flex-col !gap-8">
			<h3 class="text-center text-gray-200">My Skills</h3>
			<div class="grid grid-cols-3 !gap-20">
				<SkillList
					title="Development & Tools"
					list={[
						{ name: 'Astro', color: '#FF5D01' },
						{ name: 'TypeScript', color: '#3178C6' },
						{ name: 'NextJS', color: '#ffffff' },
						{ name: 'JavaScript', color: '#F7DF1E' },
						{ name: 'Tailwind', color: '#06B6D4' },
						{ name: 'CSS', color: '#1572B6' },
						{ name: 'Git', color: '#F05032' },
						{ name: 'GSAP', color: '#88CE02' },
						{ name: 'Bootstrap', color: '#7952B3' },
						{ name: 'jQuery', color: '#0769AD' },
						{ name: 'PHP', color: '#777BB4' },
						{ name: 'Laravel', color: '#FF2D20' }
					]}
				/>
				<SkillList
					title="Platforms & Deployment"
					list={[
						{ name: 'Shopify', color: '#96BF48' },
						{ name: 'WordPress', color: '#21759B' },
						{ name: 'WooCommerce', color: '#96588A' },
						{ name: 'Elementor', color: '#92003B' },
						{ name: 'Bricks Builder', color: '#FED53D' },
						{ name: 'DigitalOcean', color: '#0080FF' },
						{ name: 'Vercel', color: '#ffffff' },
						{ name: 'SiteGround', color: '#83B81A' },
						{ name: 'Netlify', color: '#00C7B7' },
						{ name: 'cPanel', color: '#FF6C2C' },
						{ name: 'Cloudflare', color: '#F38020' },
						{ name: 'Docker', color: '#2496ED' }
					]}
				/>
				<SkillList
					title="Specialties & Practices"
					list={[
						{ name: 'SEO', color: '#4285F4' },
						{ name: 'Performance Optimization', color: '#FF6F00' },
						{ name: 'UI/UX Implementation', color: '#6200EE' },
						{ name: 'Responsive Design', color: '#2965F1' },
						{ name: 'Accessibility (a11y)', color: '#FFD600' },
						{ name: 'API Integration', color: '#0F9D58' },
						{ name: 'Adobe Creative', color: '#FF0000' },
						{ name: 'Figma', color: '#F24E1E' }
					]}
				/>
			</div>
		</div>
	</div>
</section>
