---
import { z } from 'astro:content'
import { StringNoNSchema } from '@schemas/string.ts'
import type { SvgComponent } from 'astro/types'

const Schema = z.object({
	title: StringNoNSchema,
	list: z.array(
		z.object({
			name: StringNoNSchema,
			color: StringNoNSchema,
			logo: z.custom<SvgComponent>().optional()
		})
	)
})

type Props = z.infer<typeof Schema>

const Props = Schema.parse(Astro.props as Props)

const { title, list } = Props
---

<article class="flex flex-col">
	<h4 class="text-h6 text-light-3">{title}</h4>
	<ul class="flex gap-2">
		{
			list.map(item => (
				<li
					class="group flex items-center border-l-4 border-transparent from-[var(--skill-list-color)]/35 to-transparent p-2 pl-0 transition-all hover:border-[var(--skill-list-color)] hover:bg-linear-to-r hover:pl-4 hover:font-bold hover:text-[var(--skill-list-color)]"
					style={`--skill-list-color:${item.color}`}
				>
					{item.logo && <item.logo class="aspect-square h-6 w-fit grayscale group-hover:filter-none" />}
					{item.name}
				</li>
			))
		}
	</ul>
</article>
