---
import Heading from '@components/Heading.astro'
import SkillList from '@components/SkillList.astro'

import AstroLogo from '@assets/logos/astro-dark.svg'
import TypeScriptLogo from '@assets/logos/typescript.svg'
import NextJSLogo from '@assets/logos/nextjs-dark.svg'
import JavaScriptLogo from '@assets/logos/javascript.svg'
import TailwindLogo from '@assets/logos/tailwindcss.svg'
import CSSLogo from '@assets/logos/css.svg'
import GitLogo from '@assets/logos/git.svg'
import GSAPLogo from '@assets/logos/sourcegraph.svg'
import BootstrapLogo from '@assets/logos/bootstrap.svg'
import jQueryLogo from '@assets/logos/jquery.svg'
import PHPLogo from '@assets/logos/php-dark.svg'
import LaravelLogo from '@assets/logos/laravel.svg'
import ShopifyLogo from '@assets/logos/shopify.svg'
import WordPressLogo from '@assets/logos/wordpress.svg'
import WooCommerceLogo from '@assets/logos/woocommerce.svg'
import ElementorLogo from '@assets/logos/elementor.svg'
import BricksLogo from '@assets/logos/bricks.svg'
import DigitalOceanLogo from '@assets/logos/digitalocean.svg'
import VercelLogo from '@assets/logos/vercel-dark.svg'
import SiteGroundLogo from '@assets/logos/siteground.svg'
import cPanelLogo from '@assets/logos/cpanel.svg'
import CloudflareLogo from '@assets/logos/cloudflare.svg'
import DockerLogo from '@assets/logos/docker.svg'
import AdobeLogo from '@assets/logos/adobe.svg'
import FigmaLogo from '@assets/logos/figma.svg'
---

<section id="skills">
	<div class="container lg:grid lg:grid-cols-12">
		<div class="lg:col-span-5">
			<Heading
				level={2}
				class="text-light-2"
				>Web Developer /</Heading
			>
		</div>

		<div class="flex flex-col gap-8 lg:col-span-6 lg:col-start-7">
			<Heading
				level={3}
				class="text-light-3 text-center"
				>My Skills</Heading
			>
			<div class="flex flex-col gap-20 md:grid md:grid-cols-2 lg:grid-cols-3">
				<SkillList
					title="Development & Tools"
					list={[
						{ name: 'Astro', color: '#ff5d01', logo: AstroLogo },
						{ name: 'TypeScript', color: '#3178c6', logo: TypeScriptLogo },
						{ name: 'NextJS', color: '#ffffff', logo: NextJSLogo },
						{ name: 'JavaScript', color: '#f7df1e', logo: JavaScriptLogo },
						{ name: 'Tailwind', color: '#06b6d4', logo: TailwindLogo },
						{ name: 'CSS', color: '#1572b6', logo: CSSLogo },
						{ name: 'Git', color: '#f05032', logo: GitLogo },
						{ name: 'GSAP', color: '#88ce02', logo: GSAPLogo },
						{ name: 'Bootstrap', color: '#7952b3', logo: BootstrapLogo },
						{ name: 'jQuery', color: '#0769ad', logo: jQueryLogo },
						{ name: 'PHP', color: '#777bb4', logo: PHPLogo },
						{ name: 'Laravel', color: '#ff2d20', logo: LaravelLogo }
					]}
				/>
				<SkillList
					title="Platforms & Deployment"
					list={[
						{ name: 'Shopify', color: '#96bf48', logo: ShopifyLogo },
						{ name: 'WordPress', color: '#21759b', logo: WordPressLogo },
						{ name: 'WooCommerce', color: '#96588a', logo: WooCommerceLogo },
						{ name: 'Elementor', color: '#92003b', logo: ElementorLogo },
						{ name: 'Bricks Builder', color: '#fed53d', logo: BricksLogo },
						{ name: 'DigitalOcean', color: '#0080ff', logo: DigitalOceanLogo },
						{ name: 'Vercel', color: '#ffffff', logo: VercelLogo },
						{ name: 'SiteGround', color: '#83b81a', logo: SiteGroundLogo },
						{ name: 'cPanel', color: '#ff6c2c', logo: cPanelLogo },
						{ name: 'Cloudflare', color: '#f38020', logo: CloudflareLogo },
						{ name: 'Docker', color: '#2496ed', logo: DockerLogo }
					]}
				/>
				<SkillList
					title="Specialties & Practices"
					list={[
						{ name: 'Adobe Creative', color: '#ff0000', logo: AdobeLogo },
						{ name: 'Figma', color: '#f24e1e', logo: FigmaLogo },
						{ name: 'SEO', color: '#4285f4' },
						{ name: 'Performance Optimization', color: '#ff6f00' },
						{ name: 'UI/UX Implementation', color: '#6200ee' },
						{ name: 'Responsive Design', color: '#2965f1' },
						{ name: 'Accessibility (a11y)', color: '#ffd600' },
						{ name: 'API Integration', color: '#0f9d58' }
					]}
				/>
			</div>
		</div>
	</div>
</section>
