---
import { z } from 'astro:content'
import { StringNoNSchema } from '../schemas/string.ts'

const Schema = z.object({
	title: StringNoNSchema,
	list: z.array(
		z.object({
			name: StringNoNSchema,
			color: StringNoNSchema
		})
	)
})

type Props = z.infer<typeof Schema>

const Props = Schema.parse(Astro.props as Props)

const { title, list } = Props
---

<article class="flex flex-col">
	<h4 class="text-h6 text-gray-400">{title}</h4>
	<ul class="flex">
		{
			list.map(item => (
				<li
					class="group flex cursor-progress !gap-0 hover:font-bold hover:text-[var(--skill-list-color)]"
					style={`--skill-list-color:${item.color}`}
				>
					<span class="hidden group-hover:inline-block">#</span>
					{item.name}
				</li>
			))
		}
	</ul>
</article>
